/* body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

/* .box {
  height: 100px;
  width: 100px;
  background: black;
  color: #fff;
  display: flex; 
  align-items: center;
  justify-content: center;
   border: 1px solid black;
} */
